*_proprietary.go
*.csv
*.tmp
*.out
Test*.log
*.query
append:*
cache/
log/
tags
benchmark_results/
benchmarks/baselines/current*.txt
benchmarks/baselines/comparison*.txt
/cache/
/log/
/profiling/*.prof
/dtail
/dgrep
/dcat
/dmap
/dserver
/dtailhealth
known_hosts
id_rsa
id_rsa.pub
ssh_host_key
