{
  "Client": {
    "TermColorsEnable": true,
    "TermColors": {
      "Remote": {
        "DelimiterAttr": "Dim",
        "DelimiterBg": "Blue",
        "DelimiterFg": "Cyan",
        "RemoteAttr": "Dim",
        "RemoteBg": "Blue",
        "RemoteFg": "White",
        "CountAttr": "Dim",
        "CountBg": "Blue",
        "CountFg": "White",
        "HostnameAttr": "Bold",
        "HostnameBg": "Blue",
        "HostnameFg": "White",
        "IDAttr": "Dim",
        "IDBg": "Blue",
        "IDFg": "White",
        "StatsOkAttr": "None",
        "StatsOkBg": "Green",
        "StatsOkFg": "Black",
        "StatsWarnAttr": "None",
        "StatsWarnBg": "Red",
        "StatsWarnFg": "White",
        "TextAttr": "None",
        "TextBg": "Black",
        "TextFg": "White"
      },
      "Client": {
        "DelimiterAttr": "Dim",
        "DelimiterBg": "Yellow",
        "DelimiterFg": "Black",
        "ClientAttr": "Dim",
        "ClientBg": "Yellow",
        "ClientFg": "Black",
        "HostnameAttr": "Dim",
        "HostnameBg": "Yellow",
        "HostnameFg": "Black",
        "TextAttr": "None",
        "TextBg": "Black",
        "TextFg": "White"
      },
      "Server": {
        "DelimiterAttr": "Dim",
        "DelimiterBg": "Cyan",
        "DelimiterFg": "Black",
        "ServerAttr": "Dim",
        "ServerBg": "Cyan",
        "ServerFg": "Black",
        "HostnameAttr": "Bold",
        "HostnameBg": "Cyan",
        "HostnameFg": "Black",
        "TextAttr": "None",
        "TextBg": "Black",
        "TextFg": "White"
      },
      "Common": {
        "SeverityErrorAttr": "Bold",
        "SeverityErrorBg": "Red",
        "SeverityErrorFg": "White",
        "SeverityFatalAttr": "Bold",
        "SeverityFatalBg": "Magenta",
        "SeverityFatalFg": "White",
        "SeverityWarnAttr": "Bold",
        "SeverityWarnBg": "Black",
        "SeverityWarnFg": "White"
      },
      "MaprTable": {
        "DataAttr": "None",
        "DataBg": "Blue",
        "DataFg": "White",
        "DelimiterAttr": "Dim",
        "DelimiterBg": "Blue",
        "DelimiterFg": "White",
        "HeaderAttr": "Bold",
        "HeaderBg": "Blue",
        "HeaderFg": "White",
        "HeaderDelimiterAttr": "Dim",
        "HeaderDelimiterBg": "Blue",
        "HeaderDelimiterFg": "White",
        "HeaderSortKeyAttr": "Underline",
        "HeaderGroupKeyAttr": "Reverse",
        "RawQueryAttr": "Dim",
        "RawQueryBg": "Black",
        "RawQueryFg": "Cyan"
      }
    }
  },
  "Server": {
    "SSHBindAddress": "0.0.0.0",
    "HostKeyPath": "cache/ssh_host_key",
    "HostKeyBits": 2048,
    "MapreduceLogFormat": "default",
    "MaxConcurrentCats": 2,
    "MaxConcurrentTails": 50,
    "MaxConnections": 50,
    "MaxLineLength": 1048576,
    "Permissions": {
      "Default": [
        "readfiles:^/.*$"
      ],
      "Users": {
        "paul": [
          "readfiles:^/.*$"
        ],
        "pbuetow": [
          "readfiles:^/.*$"
        ],
        "jamesblake": [
          "readfiles:^/tmp/foo.log$",
          "readfiles:^/.*$",
          "readfiles:!^/tmp/bar.log$"
        ]
      }
    }
  },
  "Common": {
    "LogDir": "log",
    "Logger": "Fout",
    "LogRotation": "Daily",
    "CacheDir": "cache",
    "SSHPort": 2222,
    "LogLevel": "Info"
  }
}
